html {
  box-sizing: border-box;
  font-family: Georgia sans-serif;
  line-height: 1.5;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  max-width: 320px;
  text-decoration: none;
  padding: 1rem;
  background-color: #dcd4cd;
  color: #512200;
  border: 3px #9a816d solid;
  border-radius: 3px;
}

h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #512200;
}

dl {
  list-style-type: none;
  padding: 0 0 1em;
  border-bottom: 2px #9a816d solid;
}

p {
  font-size: 1.125rem;
  padding: 0 0 1em;
  border-bottom: 2px #9a816d solid;
}

.link-card dt {
  display: inline-block;
  width: 8.5em;
  font-size: .875rem;
}

.link-card dd {
  display: inline-block;
  margin: 0;
  font-size: .875rem;
}

.btn-wrap {
  display: inline-block;
  padding: .4em .75em .5em;
  background-color: #785439;
  vertical-align: middle;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  color: #f0eee8;
  font-family: Dosis, sans-serif;
  text-align: center;
}
